@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    @Styles.Render("~/Assets/InsdepStyle")
    @Scripts.Render("~/Assets/InsdepScript")
</head>
<body>

    <div class="easyui-layout" style="width:700px;height:700px;" fit="true">
        <form id="divModPass" method="post" novalidate="novalidate">
            <table cellspacing="1" cellpadding="0" border="0" width="100%">
                <tr style="height: 40px;">
                    <td style="font-weight: bold; text-align: right; padding-right:80px" width="50%">原密码：</td>
                    <td >
                        <input type="hidden" id="txtName" value="@ViewBag.Name" />
                        <input type="password" style="width: 200px;" id="txtOldPass" maxlength="30" class="easyui-textbox" />
                    </td>
                </tr>
                <tr style="height: 40px;">
                    <td style=" font-weight: bold; text-align: right; padding-right: 80px" width="50%">新密码：</td>
                    <td >
                        <div style="float: left; margin-top: 2px;">
                            <input type="password" id="txtNewPass" style="width: 200px;" maxlength="30" class="easyui-textbox" data-options="required:true,validType:'length[1,30]'" />
                        </div>
                    </td>
                </tr>
                <tr style="height: 40px;">
                    <td style=" font-weight: bold; text-align: right; padding-right: 80px" width="50%">确认新密码：</td>
                    <td >
                        <input type="password" id="txtCheckPass" style="width: 200px;" maxlength="30" class="easyui-textbox" data-options="required:true,validType:'length[1,30]'" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="40"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-lock" id="btnModifyPass" onclick="ModifyPass()">提交</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#divModPass')[0].reset()">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
<script type="text/javascript">
    //弹出修改密码的对话框
    function ShowPasswordDialog() {
        $("#divModPass").dialog('open').dialog('setTitle', '修改用户密码');
    }

    function ModifyPass() {
        //首先表单进行检测
        var validate = $("#ffModPass").form("validate");
        if (validate == false) {
            return false;
        }

        if ($("#txtNewPass").val() == "") {
            $("#txtNewPass").focus();
            $.messager.alert("提示", '新密码不能为空');
            return;
        }
        if ($("#txtNewPass").val() != $("#txtCheckPass").val()) {
            $("#txtNewPass").focus();
            $.messager.alert("提示", "两次输入的密码不一致"); return;
        }

        $.ajax({
            type: 'POST',
            url: '/admin/User/ModifyPassword?r=' + Math.random(),
            async: false,
            data: { Name: $("#txtName").val(), OldPass: $("#txtOldPass").val(), NewPass: $("#txtNewPass").val() },
            success: function (msg) {
                if (msg == "OK") {
                    $.messager.alert("提示", "操作成功！ ");
                    $('#divModPass')[0].reset();
                }
                else {
                    $.messager.alert("提示", msg);
                }
            },
            error: function (xhr, status, error) {
                $.messager.alert("提示", "操作失败"); //xhr.responseText
            }
        });
    }
</script>